*{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    ul{
        list-style-type:none ;
        //width: 80%;
       text-align: center;
        li{
            text-align: center;
            display: inline-block;
        }
    }
}

.container{
    width: 90%;
    margin: auto;
    .searchmenu{
        width: 100%;
        .filtro{
            display: inline-block;
            width: 33%;
            select{
                width: 100%;
            }
        }
    }
}